{% extends 'ecaadmin/admin_base.html' %}

{% block page_title %} Category List{% endblock page_title %}
{% block button %}
   <a href="{% url 'category_create' %}"  data-toggle="tooltip" title="" class="btn btn-primary" data-original-title="Add New"  style="right: 100px;"><i class="fa fa-plus"></i></a>
   <a   data-toggle="tooltip" title="" class="btn btn-secondary" data-original-title="Delete" value='Delete' id="delete_btn" style="right: 100px;"><i class="fa fa-trash"></i></a>
           
{% endblock button %}
{% block page_content %}
<div class="col-12 ">
    <div class="card">
        <div class="card-header">
            <h4>All Categories </h4>
            <div class="card-header-form">
                <form method="get">
                    <button class="btn btn-primary" type="submit" style="float:right"><i class="fas fa-search" ></i> Search</button>
                        <input class="form-control" type="search" placeholder="Search" aria-label="Search" data-width="250" style="width: 250px; float:right" name="filter" id="filter">
                </form>
            </div>
        </div>
        <div class="card-body p-0">
            <div class="table-responsive">
                <table class="table table-striped table-md" id='recordsTable'>
                <tbody><tr>
                    <td><input type="checkbox" name="{{cat.id}}"/>&nbsp;</td>
                    {% comment %} <th><a href="{% url 'category_tab_list' %}?filter={{filter}}&orderby=id">ID</a></th> {% endcomment %}
                    <th>Thumbnail</th>
                    <th><a href="{% url 'category_tab_list' %}?filter={{filter}}&orderby=title">Title</a></th>
                    <th><a href="{% url 'category_tab_list' %}?filter={{filter}}&orderby=created_date">Created</a></th>
                    <th><a href="{% url 'category_tab_list' %}?filter={{filter}}&orderby=is_active">Status</a></th>
                    <th>Action</th>
                </tr>
                {% for cat in productcategory_list %}
                <tr id='tr_'{{cat.id}}>
                    <form id="deletecheck" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                    <td><input type="checkbox" class="checkbox" name="checkbox []"  value="{{cat.id}}" id="checkbox"/>&nbsp;</td>
                </form>
                    {% comment %} <td>{{cat.id}}</td> {% endcomment %}
                    <td>
                        <a type="button" href="/media/{{cat.thumbnail}}">
                        <img src="/media/{{cat.thumbnail}}" width="150" height="100" class="img-thumbnail"></a> </td>                
                    <td>{{cat.title|title}}</td>
                    <td>{{cat.created_date|date:'Y-m-d' }}</td>
                    <td>{% if cat.is_active %}<a href="{% url 'category_deactive' cat.id %}"><div class="badge badge-success">Active</div></a>{% else %}<a href="{% url 'category_active' cat.id %}"><div class="badge badge-danger">Not Active</div>{% endif %}</a></td>               
                    <td>
                        <div class="dropdown d-inline ">
                            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                More
                            </button>
                            <div class="dropdown-menu" x-placement="bottom-start" style="position: absolute; transform: translate3d(0px, 28px, 0px); top: 0px; left: 0px; will-change: transform;">
                                <a class="dropdown-item has-icon" href="{% url 'category_update' cat.id %}"><i class="far fa-edit"></i> Edit</a>
                                
                               
                            </div>
                        </div></td>             
                </tr>
                {% endfor %}          
                </tbody></table>
            </div>
        </div>
        <div class="card-footer text-right">
            <nav class="d-inline-block">
                <ul class="pagination mb-0">
                {% if page_obj.has_previous %}
                <li class="page-item"><a class="page-link" href="{% url 'category_tab_list' %}?filter={{ filter }}&orderby={{ orderby }}&page={{ page_obj.previous_page_number }}">Previous</a></li>
                {% else %}
                <li class="page-item disabled"><a class="page-link" href="#">Previous</a></li>
                {% endif %}

                {% for i in  paginator.page_range %}
                <li class="page-item"><a class="page-link" href="{% url 'category_tab_list' %}?filter={{ filter }}&orderby={{ orderby }}&page={{ i }}">{{ i }}</a></li>

                {% endfor %}
        
        
                {% if page_obj.has_next %}
                    <li class="page-item"><a class="page-link" href="{% url 'category_tab_list' %}?filter={{ filter }}&orderby={{ orderby }}&page={{ page_obj.next_page_number }}">Next</a></li>
                {% else %}
                    <li class="page-item disabled"><a class="page-link" href="#">Next</a></li>
                {% endif %}
                </ul>
            </nav>
        </div>
    </div>
</div>
{% endblock page_content %}


{% block custom_js %}

{% comment %}
 //  html code for check box delete   
    <table cellspacing="0" rules="all" border="1" id="Table1" style="border-collapse: collapse;">
  
    </table>

    <input id = "btnGet" type="button" value="Get Selected" />
//checkbox selection for table delete multiple row by check box in html jquery  
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script type="text/javascript">
    $(function () {
        //Assign Click event to Button.
        $("#btnGet").click(function () {
            var message = "Id Name                  Country\n";
 
            //Loop through all checked CheckBoxes in GridView.
            $("#Table1 input[type=checkbox]:checked").each(function () {
                var row = $(this).closest("tr")[0];
                message += row.cells[1].innerHTML;
                message += "   " + row.cells[2].innerHTML;
                message += "   " + row.cells[3].innerHTML;
                message += "\n";
            });
 
            //Display selected Row data in Alert Box.
            alert(message);
            return false;
        });
    });
</script> {% endcomment %}
 

<script>
//check box send into array fro delete


$(document).ready(function(){
    $('#delete_btn').click(function(){
        if(confirm("Are you sure you want to delete ?")){
            var id = [];
            var csrf =$('input[name=csrfmiddlewaretoken]').val()
            var frm = "category"
            $(':checkbox:checked').each(function(i){
                id[i] = $(this).val()
            })
            if(id.length===0){
                alert("please select to delete !")
            }else{
                console.log(id)
                $.ajax({
                    url:"{% url 'delete_category' %}",
                    method:"POST",
                    data:{
                        id,
                        csrfmiddlewaretoken:csrf,
                        frm:frm
                    },
                    success:function(response){
                        location.reload();
                    }
                })
            }
        }
    })   
});
</script>

{% endblock custom_js %}
