{% extends 'ecaadmin/admin_base.html' %}

{% block page_title %} Child SubCategory Tab List{% endblock page_title %} 
{% block button %}
   <a href="{% url 'childsubcategory_create' %}"  data-toggle="tooltip" title="" class="btn btn-primary" data-original-title="Add New"  style="right: 100px;"><i class="fa fa-plus"></i></a>
   <a href="{% url 'childsubcategory_create' %}"  data-toggle="tooltip" title="" class="btn btn-primary" data-original-title="Add New" value='Delete' id='delete' style="right: 100px;"><i class="fa fa-trash"></i></a>
           
{% endblock button %}
 
{% block page_content %}
<div class="col-12 ">
    <div class="card">
        <div class="card-header">
            <h4>All Child Categories </h4>
            <div class="card-header-form">
                <form method="get">
                    <button class="btn btn-primary" type="submit" style="float:right"><i class="fas fa-search" ></i> Search</button>
                        <input class="form-control" type="search" placeholder="Search" aria-label="Search" data-width="250" style="width: 250px; float:right" name="filter" id="filter">
                        </form>
            </div>
        </div>
        <div class="card-body p-0">
            <div class="table-responsive">
                <table class="table table-striped table-md">
                <tbody><tr>
                    <th><a href="{% url 'childsubcategory_tab_list' %}?filter={{filter}}&orderby=id">ID</a></th>
                    <th>Thumbnail</th>
                    <th><a href="{% url 'childsubcategory_tab_list' %}?filter={{filter}}&orderby=title">Title</a></th>
                    <th><a href="{% url 'childsubcategory_tab_list' %}?filter={{filter}}&orderby=created_date">Created</a></th>
                    <th><a href="{% url 'childsubcategory_tab_list' %}?filter={{filter}}&orderby=is_active">Status</a></th>
                    <th><a href="{% url 'childsubcategory_tab_list' %}?filter={{filter}}&orderby=subcategory">Parent Category</a></th>
                    <th>Action</th>
                </tr>
                {% for childsubcat in productchildsubcategory_list %}
                <tr>
                    <td>{{childsubcat.id}}</td>
                    <td><img src="{{childsubcat.thumbnail}}" width="40" height="40" class="img-thumbnail"> </td>                
                    <td>{{childsubcat.title}}</td>
                    <td>{{childsubcat.created_date|date:'Y-m-d' }}</td>
                    <td>{% if childsubcat.is_active %}<a href="{% url 'childsubcategory_deactive' childsubcat.id %}"><div class="badge badge-success">Active</div></a>{% else %}<a href="{% url 'childsubcategory_active' childsubcat.id %}"><div class="badge badge-danger">Not Active</div>{% endif %}</a></td>   
                    <td>{{childsubcat.category.title}}->{{childsubcat.subcategory.title}}</td>         
                    <td>
                        <div class="dropdown d-inline ">
                            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                More
                            </button>
                            <div class="dropdown-menu" x-placement="bottom-start" style="position: absolute; transform: translate3d(0px, 28px, 0px); top: 0px; left: 0px; will-change: transform;">
                                <a class="dropdown-item has-icon" href="{% url 'childsubcategory_update' childsubcat.id %}"><i class="far fa-edit"></i> Edit</a>
                                <a class="dropdown-item has-icon" href="{% url 'childsubcategory_update' childsubcat.id %}"><i class="far fa-clone"></i> Duplicate </a>
                                <a class="dropdown-item has-icon" href="{% url 'childsubcategory_update' childsubcat.id %}"><i class="fas fa-trash"></i>Delete</a>
                            </div>
                        </div></td>
                                 
                </tr>
                {% endfor %}          
                </tbody></table>
            </div>
        </div>
        <div class="card-footer text-right">
            <nav class="d-inline-block">
                <ul class="pagination mb-0">
                {% if page_obj.has_previous %}
                <li class="page-item"><a class="page-link" href="{% url 'childsubcategory_tab_list' %}?filter={{ filter }}&orderby={{ orderby }}&page={{ page_obj.previous_page_number }}">Previous</a></li>
                {% else %}
                <li class="page-item disabled"><a class="page-link" href="#">Previous</a></li>
                {% endif %}

                {% for i in  paginator.page_range %}
                <li class="page-item"><a class="page-link" href="{% url 'childsubcategory_tab_list' %}?filter={{ filter }}&orderby={{ orderby }}&page={{ i }}">{{ i }}</a></li>

                {% endfor %}
        
        
                {% if page_obj.has_next %}
                    <li class="page-item"><a class="page-link" href="{% url 'childsubcategory_tab_list' %}?filter={{ filter }}&orderby={{ orderby }}&page={{ page_obj.next_page_number }}">Next</a></li>
                {% else %}
                    <li class="page-item disabled"><a class="page-link" href="#">Next</a></li>
                {% endif %}
                </ul>
            </nav>
        </div>
    </div>
</div>
{% endblock page_content %}


{% block custom_js %}
{% endblock custom_js %}