{% extends 'base2.html' %}
{% load static %}
{% block title %}
    <title>Dashboard || RoyalDrop Shipping | E-commerce | All Product online </title>
{% endblock title %}
 
{% block custom_css %}{% endblock custom_css %}
 
{% block fixed_list %}{% endblock fixed_list %}
 
{% block content %}
    <div class="app-content">
        <!--====== Section 1 ======-->
        <div class="u-s-p-y-60">

            <!--====== Section Content ======-->
            <div class="section__content">
                <div class="container">
                    <div class="breadcrumb">
                        <div class="breadcrumb__wrap">
                            <ul class="breadcrumb__list">
                                <li class="has-separator">

                                    <a href="{% url 'home' %}">Home</a></li>
                                <li class="is-marked">

                                    <a href="{% url 'dashboard' %}">My Account</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--====== End - Section 1 ======-->
        <div class="u-s-p-b-60">

            <!--====== Section Content ======-->
            <div class="section__content">
                <div class="dash">
                    <div class="container">
                        <div class="row">
                           {% include 'snipetForUserMenu.html' %}
                            <div class="col-lg-9 col-md-12">
                                <div class="dash__box dash__box--shadow dash__box--radius dash__box--bg-white">
                                    <div class="dash__pad-2">
                                        <h1 class="dash__h1 u-s-m-b-14">Add new Address</h1>

                                        <span class="dash__text u-s-m-b-30">We need an address where we could deliver products.</span>
                                        <form class="dash-address-manipulation" method= "post"  enctype = "multipart/form-data">
                                                    {% csrf_token %}
                                            <div class="gl-inline">
                                                <div class="u-s-m-b-30">

                                                    <label class="gl-label" for="address-fname">FIRST NAME *</label>

                                                    <input class="input-text input-text--primary-style" type="text" id="address-fname" placeholder="First Name" name ="first_name" ></div>
                                                <div class="u-s-m-b-30">

                                                    <label class="gl-label" for="address-lname">LAST NAME *</label>

                                                    <input class="input-text input-text--primary-style" type="text" id="address-lname" placeholder="Last Name" name ="last_name" ></div>
                                            </div>
                                            <div class="gl-inline">
                                                <div class="u-s-m-b-30">

                                                    <label class="gl-label" for="address-phone">PHONE *</label>

                                                    <input class="input-text input-text--primary-style" type="text" id="address-phone" name ="phone" ></div>
                                                <div class="u-s-m-b-30">

                                                    <label class="gl-label" for="address-street">STREET ADDRESS *</label>

                                                    <input class="input-text input-text--primary-style" type="text" id="address-street" placeholder="House Name and Street" name ="address" ></div>
                                            </div>
                                            <div class="gl-inline">
                                                <div class="u-s-m-b-30">

                                                    <!--====== Select Box ======-->

                                                    <label class="gl-label" for="address-country">COUNTRY *</label><select class="select-box select-box--primary-style" id="address-country" name ="country" >
                                                        <option selected value="">Choose Country</option>
                                                        <option value="India">India</option>
                                                        <option value="Pakistan">Pakistan</option>
                                                        <option value="Nepal">Nepal</option>
                                                    </select> 
                                                    <!--====== End - Select Box ======-->
                                                </div>
                                                <div class="u-s-m-b-30">

                                                    <!--====== Select Box ======-->

                                                    <label class="gl-label" for="address-state">STATE/PROVINCE *</label><select class="select-box select-box--primary-style" id="address-state" name ="state">
                                                        <option selected value="">Choose State/Province</option>
                                                        <option value="Alabama">Gujarat</option>
                                                        <option value="Alaska">Maharastra</option>
                                                        <option value="ny">Delhi</option>
                                                    </select>
                                                    <!--====== End - Select Box ======-->
                                                </div>
                                            </div>
                                            <div class="gl-inline">
                                                <div class="u-s-m-b-30">

                                                    <label class="gl-label" for="address-city">TOWN/CITY *</label>

                                                    <input class="input-text input-text--primary-style" type="text" id="address-city" name ="city"></div>
                                                <div class="u-s-m-b-30" >

                                                    <label class="gl-label" for="address-street">ZIP/POSTAL CODE *</label>

                                                    <input class="input-text input-text--primary-style" type="text" id="address-postal" placeholder="Zip/Postal Code" name ="zip_Code"></div>
                                            </div>

                                            <button class="btn btn--e-brand-b-2" type="submit">SAVE</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--====== End - Section Content ======-->
        </div>

        <!--====== Section 2 ======-->
     
        <!--====== End - Section 2 ======-->
    </div>

{% endblock content %}

{% block afterfooter %}

{% endblock afterfooter %}




{% block custom_js %}

{% endblock custom_js %}