{% extends 'base1.html' %}
{% load static %}
{% block title %}
    <title>RoyalDrop Shipping | E-commerce | All Product online</title>
{% endblock title %}
 
{% block custom_css %}{% endblock custom_css %}
{% comment %} {% block loader %}
<div class="preloader is-active">
        <div class="preloader__wrap">

            <img class="preloader__img" src="{% static '/ecafront/images/preloader.png' %}" alt=""></div>
    </div>
{% endblock loader %} {% endcomment %}

{% block fixed_list %}

{% endblock fixed_list %}

{% block content %}

     

{% endblock content %}


{% block custom_js %}{% endblock custom_js %}
       


